/* 
Main CSS file (main.css)
*/

/*
-------------------------------------------------------------------------------------------------------
CSS VARIABLES
-------------------------------------------------------------------------------------------------------
*/
:root
{
	--maincolour: grey;
}

/*
-------------------------------------------------------------------------------------------------------
COMMON STYLES
-------------------------------------------------------------------------------------------------------
*/

body
{
    background-color: var(--maincolour);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
-------------------------------------------------------------------------------------------------------
INDEX PAGE STYLES
-------------------------------------------------------------------------------------------------------
*/


/*
-------------------------------------------------------------------------------------------------------
ABOUT PAGE STYLES
-------------------------------------------------------------------------------------------------------
*/


/*
-------------------------------------------------------------------------------------------------------
CLIENTS PAGE STYLES
-------------------------------------------------------------------------------------------------------
*/


/*
-------------------------------------------------------------------------------------------------------
WORK PAGE STYLES
-------------------------------------------------------------------------------------------------------
*/


/*
-------------------------------------------------------------------------------------------------------
RESPONSIVE SECTION - MEDIA QUERIES
-------------------------------------------------------------------------------------------------------
*/

/* @media */