/* 
Main CSS file (main.css)
*/

/*
-------------------------------------------------------------------------------------------------------
CSS VARIABLES
-------------------------------------------------------------------------------------------------------
*/
:root
{
	--maincolour: grey;
    --dropdown: black;
    --footercolour: darkgrey;
}

/*
-------------------------------------------------------------------------------------------------------
COMMON STYLES
-------------------------------------------------------------------------------------------------------
*/

body
{
    background-color: var(--maincolour);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    height: 35vh;
    background-color: green;
    color: white;
}

.nav_bar
{  
    position: fixed;
    margin: 0;
    
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.5);
}

.container_main
{
    display: flex;    
    background-color: yellow;
    justify-content: center;
}


footer
{
    height: 80vh;
    background-color: var(--footercolour);
    color: white;
}

/*
-------------------------------------------------------------------------------------------------------
INDEX PAGE STYLES
-------------------------------------------------------------------------------------------------------
*/
.main_content
{
    width: 80vw;    
}

.header_content
{
    display: flex;
    justify-self: center;
    
    color:white;    
}

.splash_image
{
    height: 100vh;
    background-color: brown;
    color: white;
}

.dropdown_faq
{
    height: 150vh;
    background-color: var(--dropdown);
    color: white;
}

.hover_images
{
    height: 200vh;
    background-color: blueviolet;
}

.carousel
{
    z-index: 999;
    justify-content: normal;
    width: 100vw;
    height: 25vh;
    background-color: aqua;
}

/*
-------------------------------------------------------------------------------------------------------
ABOUT PAGE STYLES
-------------------------------------------------------------------------------------------------------
*/


/*
-------------------------------------------------------------------------------------------------------
CLIENTS PAGE STYLES
-------------------------------------------------------------------------------------------------------
*/


/*
-------------------------------------------------------------------------------------------------------
WORK PAGE STYLES
-------------------------------------------------------------------------------------------------------
*/


/*
-------------------------------------------------------------------------------------------------------
RESPONSIVE SECTION - MEDIA QUERIES
-------------------------------------------------------------------------------------------------------
*/

/* @media */