<footer>
        <div class="footer_wrapper main_content">
            <div class="footer_content">
                <div class="footer_top">
                    <div class="footer_caption">
                        <span>Plant a seed.</span>
                        <div class="footer_logo">
                            <i class="fa fa-medium" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="footer_email">
                        <a href="mailto:mrmattrevell@gmail.com" class="animate_underline"
                            style="z-index: 2">mrmattrevell@gmail.com</a>
                    </div>
                </div> <!-- end of footer_top -->

                <div class="footer_bottom">
                    <div class="footer_address">
                        <span>Dunedin</span>
                        <span>New Zealand</span>
                    </div>
					
                    <div class="footer_links">
                        <div class="internal_links">
                            <ul>                           
                                <li><a href="/clients" class="animate_underline" style="z-index: 2">Clients</a></li>
                                <li><a href="/work" class="animate_underline" style="z-index: 2">Work</a></li>
                                <li><a href="/about" class="animate_underline" style="z-index: 2">About</a></li>
                            </ul>
                        </div>
						
                        <div class="external_links">
                            <ul>
                                <li><a href="https://www.facebook.com/" class="animate_underline" style="z-index: 2"
                                target="_blank">Facebook</a></li>
                                <li><a href="https://www.pinterest.nz/" class="animate_underline" style="z-index: 2"
                                target="_blank">Pinterest</a></li>
                                <li><a href="https://www.instagram.com/" class="animate_underline" style="z-index: 2"
                                target="_blank">Instagram</a></li>
                            </ul>
                        </div>
                    </div> <!-- end of footer_links -->
                </div> <!-- end of footer_bottom -->
            </div> <!-- end of footer_content -->
        </div> <!-- end of footer_wrapper -->
</footer>