<div class="hover_images main_content">
    <div class="hover_left">
        <div class="hover_box">
            <div class="video_1" data-aos="zoom-in-up" data-aos-delay="100" data-aos-duration="900">
                <video class="clip" muted loop>
                    <source src="videos/hovervideo1.mp4" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                    Your browser does not support the video tag.
                </video>
            </div>                    
        </div>
        <br>
        <h3>Swaying Red Poppies</h3>
        
        <div class="hover_box">
            <div class="video_2" data-aos="zoom-in-up" data-aos-delay="100" data-aos-duration="900">
                <video class="clip" muted loop>
                    <source src="videos/hovervideo2.mp4" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                    Your browser does not support the video tag.
                </video>
            </div>                    
        </div>
        <br>
        <h3>Flowers Blooming</h3>
        
        <div class="hover_box">
            <div class="video_1" data-aos="zoom-in-up" data-aos-delay="100" data-aos-duration="900">
                <video class="clip" muted loop>
                    <source src="videos/hovervideo3.mp4" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                    Your browser does not support the video tag.
                </video>
            </div>                    
        </div>
        <br>
        <h3>Green Grass</h3>

        <div class="hover_box">
            <div class="video_2" data-aos="zoom-in-up" data-aos-delay="100" data-aos-duration="900">
                <video class="clip" muted loop>
                    <source src="videos/hovervideo4.mp4" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                    Your browser does not support the video tag.
                </video>
            </div>                    
        </div>
        <br>
        <h3>Plantation of Lavender Flowers</h3>
    </div> <!-- end hover left -->

    <div class="hover_right">
        <div class="hover_box">
            <div class="video_2" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="900">
                <video class="clip" muted loop>
                    <source src="videos/hovervideo5.mp4" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                    Your browser does not support the video tag.
                </video>
            </div>                    
        </div>
        <br>
        <h3>Sunrays Through Trees</h3>

        <div class="hover_box">
            <div class="video_1" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="900">
                <video class="clip" muted loop>
                    <source src="videos/hovervideo6.mp4" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                    Your browser does not support the video tag.
                </video>
            </div>                    
        </div>
        <br>
        <h3>Raindrops On Leaves</h3>

        <div class="hover_box">
            <div class="video_2" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="900">
                <video class="clip" muted loop>
                    <source src="videos/hovervideo7.mp4" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                    Your browser does not support the video tag.
                </video>
            </div>                    
        </div>
        <br>
        <h3>Wheat and Poppy Flowers</h3>

        <div class="hover_box">
            <div class="video_1" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="900">
                <video class="clip" muted loop>
                    <source src="videos/hovervideo8.mp4" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                    Your browser does not support the video tag.
                </video>
            </div>                    
        </div>
        <br>
        <h3>Yellow Rose Buds</h3>               
    </div>            
</div><!-- end hover_images -->

<script> pausePlay(); </script>