    <script>AOS.init();</script>

    <%- include('partials/navpartial.ejs') %>    

    <div class="about_header">        
    </div><!-- end about_header -->

    <div class="about_title_wrapper">
        <div class="about_title main_content">
            <br><br>
            <h1>Hey, we're Clay.</h1><i class="fa fa-medium" aria-hidden="true"></i>
            <h3>We're a digital product and UX agency in San Francisco.
                Strategy, design, and development across all platforms.</h3>
        </div>
    </div>

    <!-- Our Garden -->
    <div class="about_wedo_wrapper">
        <div class="about_wedo about_content">        
            <div class="item1"><img src="img/summer.jpg"></img></div>
            <div class="item2"><img src="img/summer.jpg"></img></div>
            <div class="item3"><img src="img/summer.jpg"></img></div>
            <div class="item4"><img src="img/summer.jpg"></img></div>
        </div>
    </div>

    <div class="about_skills main_content">
        <h2>External Links</h2>
        <div class="links_catergories">
            <div class="about_gardens">
                <!-- https://www.nzpcn.org.nz/conservation/botanic-gardens/ -->
                <h1>Botancial Gardens</h1>
                <ul>
                    <li><a href="https://www.aucklandbotanicgardens.co.nz/" target="_blank">Auckland Botanic Gardens</a></li>
                    <li><a href="https://hamiltongardens.co.nz/" target="_blank">Hamilton Botanic Gardens</a></li>
                    <li><a href="https://www.napier.govt.nz/napier/gardens/botanical-gardens/" target="_blank">Napier Botanic Gardens</a></li>
                    <li><a href="https://wellingtongardens.nz/" target="_blank">Wellington Botanic Gardens</a></li>
                    <li><a href="https://wellingtongardens.nz/our-gardens/otari-wiltons-bush/" target="_blank">Otari-Wilton's Bush</a></li>
                    <li><a href="https://ccc.govt.nz/parks-and-gardens/christchurch-botanic-gardens" target="_blank">Christchurch Botanic Gardens</a></li>
                    <li><a href="https://dunedinbotanicgarden.co.nz/" target="_blank">Dunedin Botanic Gardens</a></li>
                    <li><a href="https://icc.govt.nz/parks-and-reserves/queens-park/" target="_blank">Queens Park</a></li>
                    <li><a href="https://southlandnz.com/stewart-island/parks-gardens/moturau-moana-native-gardens" target="_blank">Motu Moana</a></li>
                </ul>
            </div>
            <div class="about_stores">
                <h1>Stores</h1>
            </div>
            <div class="about_brands">
                <h1>Brands</h1>
            </div>
            <div class="about_jobs">
                <h1>Jobs?</h1>
            </div>
        </div>
    </div>

    <div class="about_logos main_content">
       Brand logos (grid 4X4)
    </div>

    <div class="quotes_wrapper">
        <div class="clients_quotes main_content">
            <div class="a_quote">
                <div class="quote_text">
                    <span>Garden as though you will live forever.</span>
                </div>
                <div class="quote_author">
                    <span>William Kent</span>
                </div>
            </div>
        </div><!-- end clients_quotes -->
    </div>

    <script> quotesTimer(); </script>

    <div class="about_carousel">
        <div class="carousel_content">
            <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true , "wrapAround": "true"}'>
                <div class="carousel-cell"><img src="img/flowers1.png"></img></div>
                <div class="carousel-cell"><img src="img/flowers2.jpg"></img></div>
                <div class="carousel-cell"><img src="img/flowers3.jpg"></img></div>
                <div class="carousel-cell"><img src="img/flowers4.jpg"></img></div>
                <div class="carousel-cell"><img src="img/flowers5.jpg"></img></div>
                <div class="carousel-cell"><img src="img/flowers6.jpg"></img></div>
                <div class="carousel-cell"><img src="img/flowers7.jpg"></img></div>
                <div class="carousel-cell"><img src="img/flowers8.jpg"></img></div>
            </div>
        </div>	
    </div>

    <%- include('partials/footerpartial.ejs') %>