    <script>AOS.init();</script>

    <%- include('partials/navpartial.ejs') %>    

    <div class="about_header">        
    </div><!-- end about_header -->

    <div class="about_title_wrapper">
        <div class="about_title main_content">            
            <span><h1>Hey, we're gardeners!</h1><i class="fa fa-medium" aria-hidden="true"></i></span>
            <br><br>
            <p>Replace this text. We're a digital product and UX agency in San Francisco.
                Strategy, design, and development across all platforms.<p>
        </div>
    </div>

    <!-- Our Garden -->
    <div class="about_wedo_wrapper">
        <div class="about_wedo about_content">
            <div class="wedo_section1">
                <div class="section1_text">
                    <div class="section1_text2">
                        <h1>Digital products that
                            people love to use</h1>
                        <p>By applying behavioral science to customer
                            experience, we design engaging digital products
                            used by millions of people.</p>
                    </div>
                </div>
                <div class="section1_tallimg">
                    <img src="img/garden1.jpg"/>
                </div>
                <div class="section1_sqrimg">
                    <img src="img/garden2.jpg"/>                    
                </div>
            </div>
            
            <div class="wedo_section2">
                <div class="section2_text">
                    <div class="section2_text2">
                        <h1>Digital products that
                            people love to use</h1>
                        <p>By applying behavioral science to customer
                            experience, we design engaging digital products
                            used by millions of people.</p>
                    </div>
                </div>
                <div class="section2_tallimg">
                    <img src="img/garden7.jpg"/>
                </div>
                <div class="section2_sqrimg">
                    <img src="img/garden8.jpg"/>                    
                </div>
            </div>
            
            <div class="wedo_section3">
                <div class="section3_text">
                    <div class="section3_text2">
                        <h1>Digital products that
                            people love to use</h1>
                        <p>By applying behavioral science to customer
                            experience, we design engaging digital products
                            used by millions of people.</p>
                    </div>
                </div>
                <div class="section3_tallimg">
                    <img src="img/garden5.jpg"/>
                </div>
                <div class="section3_sqrimg">
                    <img src="img/garden6.jpg"/>                    
                </div>
            </div>            
        </div>
    </div>

    <div class="about_skills">        
        <div class="links_catergories main_content">
            <div class="links_title">
            <h2>External Links</h2>
            </div>
            <div class="about_gardens">
                <!-- https://www.nzpcn.org.nz/conservation/botanic-gardens/ -->
                <h1>Botancial Gardens</h1>
                <ul>
                    <li><a href="https://www.aucklandbotanicgardens.co.nz/" target="_blank">Auckland Botanic Gardens</a></li>
                    <li><a href="https://hamiltongardens.co.nz/" target="_blank">Hamilton Botanic Gardens</a></li>
                    <li><a href="https://www.napier.govt.nz/napier/gardens/botanical-gardens/" target="_blank">Napier Botanic Gardens</a></li>
                    <li><a href="https://wellingtongardens.nz/" target="_blank">Wellington Botanic Gardens</a></li>
                    <li><a href="https://wellingtongardens.nz/our-gardens/otari-wiltons-bush/" target="_blank">Otari-Wilton's Bush</a></li>
                    <li><a href="https://ccc.govt.nz/parks-and-gardens/christchurch-botanic-gardens" target="_blank">Christchurch Botanic Gardens</a></li>
                    <li><a href="https://dunedinbotanicgarden.co.nz/" target="_blank">Dunedin Botanic Gardens</a></li>
                    <li><a href="https://icc.govt.nz/parks-and-reserves/queens-park/" target="_blank">Queens Park</a></li>
                    <li><a href="https://southlandnz.com/stewart-island/parks-gardens/moturau-moana-native-gardens" target="_blank">Motu Moana</a></li>
                </ul>
            </div>

            <div class="about_stores">
                <h1>Stores</h1>
                <ul>
                    <li><a href="https://www.kings.co.nz/" target="_blank">Kings Plant Barn</a></li>
                    <li><a href="https://www.oderings.co.nz/" target="_blank">Oderings</a></li>
                    <li><a href="https://www.palmers.co.nz/" target="_blank">Palmers</a></li>
                    <li><a href="https://www.gubba.co.nz/" target="_blank">Gubba Garden Store</a></li>
                    <li><a href="https://www.nichols.co.nz/" target="_blank">Nichol's</a></li>
                    <li><a href="https://www.homelandz.co.nz/" target="_blank">Homelandz</a></li>
                    <li><a href="https://www.theplantstore.co.nz/" target="_blank">The Plant Store</a></li>                    
                </ul>
            </div>            
        </div>
    </div>

    <div class="about_logos main_content">
       Brand logos (grid 4X4)
    </div>

    <div class="quotes_wrapper">
        <div class="clients_quotes main_content">
            <div class="a_quote">
                <div class="quote_text">
                    <span>Garden as though you will live forever.</span>
                </div>
                <div class="quote_author">
                    <span>William Kent</span>
                </div>
            </div>
        </div><!-- end clients_quotes -->
    </div>

    <script> quotesTimer(); </script>

    <div class="about_carousel">
        <div class="carousel_content">
            <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true , "wrapAround": "true"}'>
                <div class="carousel-cell"><img src="img/flowers1.png"/></div>
                <div class="carousel-cell"><img src="img/flowers2.jpg"/></div>
                <div class="carousel-cell"><img src="img/flowers3.jpg"/></div>
                <div class="carousel-cell"><img src="img/flowers4.jpg"/></div>
                <div class="carousel-cell"><img src="img/flowers5.jpg"/></div>
                <div class="carousel-cell"><img src="img/flowers6.jpg"/></div>
                <div class="carousel-cell"><img src="img/flowers7.jpg"/></div>
                <div class="carousel-cell"><img src="img/flowers8.jpg"/></div>
            </div>
        </div>	
    </div>

    <%- include('partials/footerpartial.ejs') %>