    <script>AOS.init();</script>

    <%- include('partials/navpartial.ejs') %>    

    <div class="about_header">        
    </div><!-- end about_header -->

    <div class="about_title_wrapper">
        <div class="about_title main_content">
            <br><br>
            <h1>Hey, we're Clay.</h1><i class="fa fa-medium" aria-hidden="true"></i>
            <h3>We're a digital product and UX agency in San Francisco.
                Strategy, design, and development across all platforms.</h3>
        </div>
    </div>

    <!-- Our Garden -->
    <div class="about_wedo_wrapper">
        <div class="about_wedo about_content">        
            <div class="item1"><img src="resources/summer.jpg"></img></div>
            <div class="item2"><img src="resources/summer.jpg"></img></div>
            <div class="item3"><img src="resources/summer.jpg"></img></div>
            <div class="item4"><img src="resources/summer.jpg"></img></div>
        </div>
    </div>

    <div class="about_skills main_content">
        Capabilites - Links to relevant sites
    </div>

    <div class="about_logos main_content">
        Clients logos grid 4X4
    </div>

    <div class="quotes_wrapper">
        <div class="clients_quotes main_content">
            <div class="a_quote">
                <div class="quote_text">
                    <span></span>
                </div>
                <div class="quote_author">
                    <span></span>
                </div>
            </div>
        </div><!-- end clients_quotes -->
    </div>

    <script> quotesTimer(); </script>

    <div class="about_awards main_content">
        Awards ?????
    </div>

    <div class="about_carousel">
        <div class="carousel_content">
            <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true , "wrapAround": "true"}'>
                <div class="carousel-cell"><img src="resources/flowers1.png"></img></div>
                <div class="carousel-cell"><img src="resources/flowers2.jpg"></img></div>
                <div class="carousel-cell"><img src="resources/flowers3.jpg"></img></div>
                <div class="carousel-cell"><img src="resources/flowers4.jpg"></img></div>
                <div class="carousel-cell"><img src="resources/flowers5.jpg"></img></div>
                <div class="carousel-cell"><img src="resources/flowers6.jpg"></img></div>
                <div class="carousel-cell"><img src="resources/flowers7.jpg"></img></div>
                <div class="carousel-cell"><img src="resources/flowers8.jpg"></img></div>
            </div>
        </div>	
    </div>

    <%- include('partials/footerpartial.ejs') %>