
    <script>AOS.init();</script>

    <%- include('partials/navpartial.ejs') %>

    <div class="clients_header">
        
    </div><!-- end clients_header -->

    <div class="clients_titles main_content">
        
        <h1 class="clients_text">Clients</h1>
        <div class="clients_description">
            We’ve partnered with everyone from early-stage
            startups to Fortune 100 companies. 

            Working as one single team with our clients,
            we build products and brands that people love.
        </div>
    </div><!-- end clients_titles -->

    <div class="clients_boxes main_content">
        
        <div class="boxes_wrapper"></div>
    </div><!-- end clients_boxes -->

    <script> createboxes(); </script>

    <div class="quotes_wrapper">
        <div class="clients_quotes main_content">
            <div class="a_quote">
                <div class="quote_text">
                    <span></span>
                </div>
                <div class="quote_author">
                    <span></span>
                </div>
            </div>
        </div><!-- end clients_quotes -->
    </div>

    <script> quotesTimer(); </script>

    <%- include('partials/footerpartial.ejs') %>