
    <script>AOS.init();</script>

    <%- include('partials/navpartial.ejs') %>

    <div class="clients_header">
        
    </div><!-- end clients_header -->

    <div class="clients_titles main_content">
        
        <h1 class="clients_text">Native Species</h1>
        <div class="clients_description">
            The native flora of New Zealand is unique as it evolved in isolation for millions of years. About 80% of our trees, ferns and flowering plants are endemic (found only in New Zealand).
        </div>
    </div><!-- end clients_titles -->

    <div class="clients_boxes main_content">
        
        <div class="boxes_wrapper"></div>
    </div><!-- end clients_boxes -->

    <script> createboxes(); </script>

    <div class="quotes_wrapper">
        <div class="clients_quotes main_content">
            <div class="a_quote">
                <div class="quote_text">
                    <span>Garden as though you will live forever.</span>
                </div>
                <div class="quote_author">
                    <span>William Kent</span>
                </div>
            </div>
        </div><!-- end clients_quotes -->
    </div>

    <script> quotesTimer(); </script>

    <%- include('partials/footerpartial.ejs') %>