
    <script>AOS.init();</script>

    <div class="nav_logo">
      <a href="/"><i class="fa fa-medium" aria-hidden="true"></i></a>
    </div>

    <div class="big_menu">
        <div class="links">            
            <a href="/clients">Clients</a>
            <a href="/work">Work</a>
            <a href="/about">About</a>
        </div>        
    </div>

    <div class="nav_burger"></div>

    <script> burger(); </script>

    <div class="container_main">
        <!-- <div class="main_content"> -->

        <div class="header_wrapper main_content">
            <div class="header_content">                
            </div>
        </div> <!-- end header -->

        <div class="title_wrapper main_content">
            <div class="title_text" data-aos="fade-up" data-aos-delay="100" data-aos-duration="900">
                <span>How does your garden</span>
                
            </div>
            <div class="title_text" data-aos="fade-up" data-aos-delay="150" data-aos-duration="900">
                <span>grow?</span>
            </div>
        </div>

        <div class="splash_wrapper">
            <div class="large_video" data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">
                <!-- <span>Large splash image/video goes here</span> -->
                <video width="100%" height="100%" autoplay muted loop>
                    <source src="resources/videos/index_splash.mp4" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="index_various">
            logos dropdowns info
        </div>

<!-- HOVER IMAGES/VIDEOS -->

        <div class="hover_images main_content">
            <div class="hover_left">
                <div class="hover_box">
                    <div class="video_1" data-aos="zoom-in-up" data-aos-delay="100" data-aos-duration="900">
                        <video class="clip" muted loop>
                            <source src="resources/videos/hovervideo1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>                    
                </div>
                <br>
                <h3>Swaying Red Poppies</h3>
                
                <div class="hover_box">
                    <div class="video_2" data-aos="zoom-in-up" data-aos-delay="100" data-aos-duration="900">
                        <video class="clip" muted loop>
                            <source src="resources/videos/hovervideo2.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                
                <div class="hover_box">
                    <div class="video_1" data-aos="zoom-in-up" data-aos-delay="100" data-aos-duration="900">
                        <video class="clip" muted loop>
                            <source src="resources/videos/hovervideo3.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <h3>Swaying Red Poppies</h3>
                </div>
                
                <div class="hover_box">
                    <div class="video_2" data-aos="zoom-in-up" data-aos-delay="100" data-aos-duration="900">
                        <video class="clip" muted loop>
                            <source src="resources/videos/hovervideo4.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div> <!-- end hover left -->

            <div class="hover_right">
                <div class="hover_box">
                    <div class="video_2" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="900">
                        <video class="clip" muted loop>
                            <source src="resources/videos/hovervideo1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <div class="hover_box">
                    <div class="video_1" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="900">
                        <video class="clip" muted loop>
                            <source src="resources/videos/hovervideo1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <h3>Swaying Red Poppies</h3>
                </div>

                <div class="hover_box">
                    <div class="video_2" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="900">
                        <video class="clip" muted loop>
                            <source src="resources/videos/hovervideo1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <div class="hover_box">
                    <div class="video_1" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="900">
                        <video class="clip" muted loop>
                            <source src="resources/videos/hovervideo1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    
                </div>
                <h3>Swaying Red Poppies</h3>
            </div>
        </div><!-- end hover_images -->

        <script> pausePlay(); </script>

    </div><!-- end container_main -->

    <div class="history_wrapper">
        <div class="history main_content">
            history
        </div>
    </div>

    <div class="carousel_wrapper">
        <div class="carousel_content">
            <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true , "wrapAround": "true"}'>
                <div class="carousel-cell"><img src="resources/flowers1.png"></img></div>
                <div class="carousel-cell"><img src="resources/flowers2.jpg"></img></div>
                <div class="carousel-cell"><img src="resources/flowers3.jpg"></img></div>
                <div class="carousel-cell"><img src="resources/flowers4.jpg"></img></div>
                <div class="carousel-cell"><img src="resources/flowers5.jpg"></img></div>
                <div class="carousel-cell"><img src="resources/flowers6.jpg"></img></div>
                <div class="carousel-cell"><img src="resources/flowers7.jpg"></img></div>
                <div class="carousel-cell"><img src="resources/flowers8.jpg"></img></div>
            </div>
        </div>	
    </div>

    <div class="events_wrapper main_content">
        <div class="events_list">
            <!-- Seasons and planting https://tuigarden.co.nz/planting-calendar/ -->
            <table class="planting_table">
                <tr>
                    <td>Summer</td>
                    <td class="suggestion_text">Dec, Jan, Feb - Basil, beetroot, beans, capsicum, carrot, celery, chilli, coriander, courgette, cucumber, eggplant, leek, lettuce, mesclun, parsley, parsnip, potatoes, pumpkin and squash, radish, rhubarb, silverbeet, spring onions, sweetcorn, tomatoes.
                    </td>
                    <td class="suggestion_img"><img src="resources/summer.jpg"></img></td>         
                </tr>
                <tr>
                    <td>Autumn</td>
                    <td class="suggestion_text">Mar, April, May - Beetroot, bok choi, broccoli, Brussels sprout, cabbage, cauliflower, kale, leek, lettuce, mesclun, onion, parsley, radish, spinach.
                    </td>
                    <td class="suggestion_img"><img src="resources/autumn.jpg"></img></td>  
                </tr>
                <tr>
                    <td>Winter</td>
                    <td class="suggestion_text">Jun, July, Aug - Asparagus, beetroot, cabbage, cauliflower, kale, peas, radish, rocket, silverbeet, spinach.
                    </td>
                    <td class="suggestion_img"><img src="resources/winter.jpg"></img></td>  
                </tr>
                <tr>
                    <td>Spring</td>
                    <td class="suggestion_text">Sep, Oct, Nov - Asparagus, basil, beetroot, bok choi, beans, broccoli, cabbage, capsicum, carrot, celery, chilli, coriander, courgette, cucumber, eggplant, leek, lettuce, mesclun, parsley, parsnip, potatoes, pumpkin and squash, radish, rhubarb, rocket, silverbeet, spring onions, sweetcorn, tomatoes.
                    </td>
                    <td class="suggestion_img"><img src="resources/spring.jpg"></img></td>  
                </tr>
            </table>
        </div>
    </div>

    <script> showSuggestion(); </script>

    <div class="faq_wrapper">
        <div class="dropdown_faq main_content">
            <h3 class="faq_title">TWELVE QUESTIONS ABOUT GARDENING</h3>
            <br>
            <!-- https://timesofindia.indiatimes.com/life-style/home-garden/12-most-common-gardening-questions-answered/photostory/65021755.cms?picid=65021774 -->

            <div class="faq_question">
                <div class="question_text">
                    <span>What is the best way to turn my balcony into a garden space?</span>                
                    <span class="faq_toggle_btn fa fa-angle-down open"></span>   
                </div>                 
                    <div class="faq_box faq_open">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sunt odio dignissimos fuga
                        aperiam nam impedit maxime itaque a temporibus beatae officiis iste cupiditate adipisci veniam
                        numquam facere qui! Assumenda.</span>
                    </div>
            </div>

            <div class="faq_question">
                <div class="question_text">
                    <span>Which are the best indoor plants?</span>                
                    <span class="faq_toggle_btn fa fa-angle-down"></span>   
                </div>                 
                    <div class="faq_box">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sunt odio dignissimos fuga
                        aperiam nam impedit maxime itaque a temporibus beatae officiis iste cupiditate adipisci veniam
                        numquam facere qui! Assumenda.</span>
                    </div>
            </div>

            <div class="faq_question">
                <div class="question_text">
                    <span>Any daily gardening tips to maintain plants?</span>                
                    <span class="faq_toggle_btn fa fa-angle-down"></span>   
                </div>                 
                    <div class="faq_box">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sunt odio dignissimos fuga
                        aperiam nam impedit maxime itaque a temporibus beatae officiis iste cupiditate adipisci veniam
                        numquam facere qui! Assumenda.</span>
                    </div>
            </div>

            <div class="faq_question">
                <div class="question_text">
                    <span>Which plants work best in pots?</span>                
                    <span class="faq_toggle_btn fa fa-angle-down"></span>   
                </div>                 
                    <div class="faq_box">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sunt odio dignissimos fuga
                        aperiam nam impedit maxime itaque a temporibus beatae officiis iste cupiditate adipisci veniam
                        numquam facere qui! Assumenda.</span>
                    </div>
            </div>

            <div class="faq_question">
                <div class="question_text">
                    <span>Which is better - planters or planting in the soil?</span>                
                    <span class="faq_toggle_btn fa fa-angle-down"></span>   
                </div>                 
                    <div class="faq_box">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sunt odio dignissimos fuga
                        aperiam nam impedit maxime itaque a temporibus beatae officiis iste cupiditate adipisci veniam
                        numquam facere qui! Assumenda.</span>
                    </div>
            </div>

            <div class="faq_question">
                <div class="question_text">
                    <span>Which plants necessarily need moss support?</span>                
                    <span class="faq_toggle_btn fa fa-angle-down"></span>   
                </div>                 
                    <div class="faq_box">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sunt odio dignissimos fuga
                        aperiam nam impedit maxime itaque a temporibus beatae officiis iste cupiditate adipisci veniam
                        numquam facere qui! Assumenda.</span>
                    </div>
            </div>

            <div class="faq_question">
                <div class="question_text">
                    <span>Does putting decorative pebbles in the planter hamper a plant's health?</span>                
                    <span class="faq_toggle_btn fa fa-angle-down"></span>   
                </div>                 
                    <div class="faq_box">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sunt odio dignissimos fuga
                        aperiam nam impedit maxime itaque a temporibus beatae officiis iste cupiditate adipisci veniam
                        numquam facere qui! Assumenda.</span>
                    </div>
            </div>

            <div class="faq_question">
                <div class="question_text">
                    <span>How often do you recommend fertilizing?</span>                
                    <span class="faq_toggle_btn fa fa-angle-down"></span>   
                </div>                 
                    <div class="faq_box">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sunt odio dignissimos fuga
                        aperiam nam impedit maxime itaque a temporibus beatae officiis iste cupiditate adipisci veniam
                        numquam facere qui! Assumenda.</span>
                    </div>
            </div>

            <div class="faq_question">
                <div class="question_text">
                    <span>How often should we replace soils in pots?</span>                
                    <span class="faq_toggle_btn fa fa-angle-down"></span>   
                </div>                 
                    <div class="faq_box">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sunt odio dignissimos fuga
                        aperiam nam impedit maxime itaque a temporibus beatae officiis iste cupiditate adipisci veniam
                        numquam facere qui! Assumenda.</span>
                    </div>
            </div>

            <div class="faq_question">
                <div class="question_text">
                    <span>What's the best way to maintain clay planters in an all-weather garden?</span>                
                    <span class="faq_toggle_btn fa fa-angle-down"></span>   
                </div>                 
                    <div class="faq_box">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sunt odio dignissimos fuga
                        aperiam nam impedit maxime itaque a temporibus beatae officiis iste cupiditate adipisci veniam
                        numquam facere qui! Assumenda.</span>
                    </div>
            </div>

            <div class="faq_question">
                <div class="question_text">
                    <span>Is it easy to grow microgreens?</span>                
                    <span class="faq_toggle_btn fa fa-angle-down"></span>   
                </div>                 
                    <div class="faq_box">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sunt odio dignissimos fuga
                        aperiam nam impedit maxime itaque a temporibus beatae officiis iste cupiditate adipisci veniam
                        numquam facere qui! Assumenda.</span>
                    </div>
            </div>

            <div class="faq_question">
                <div class="question_text">
                    <span>What is the best way to turn my balcony into a garden space?</span>                
                    <span class="faq_toggle_btn fa fa-angle-down"></span>   
                </div>                 
                    <div class="faq_box">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sunt odio dignissimos fuga
                        aperiam nam impedit maxime itaque a temporibus beatae officiis iste cupiditate adipisci veniam
                        numquam facere qui! Assumenda.</span>
                    </div>
            </div>

            
        </div><!-- end dropdown_faq -->
    </div> <!-- end faq_wrapper -->
    
    <script> opendiv();</script>

    <footer>
        <div class="footer_wrapper main_content">
            <div class="footer_content">
                <div class="footer_top">
                    <div class="footer_caption">
                        <span>Plant a seed.</span>
                        <div class="footer_logo">
                            <i class="fa fa-medium" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="footer_email">
                        <a href="mailto:mrmattrevell@gmail.com" class="animate_underline"
                            style="z-index: 2">mrmattrevell@gmail.com</a>
                    </div>
                </div>

                <div class="footer_bottom">
                    <div class="footer_address">
                        <span>Dunedin</span>
                        <span>New Zealand</span>
                    </div>
                    <div class="footer_links">
                        <div class="internal_links">
                            <ul>                           
                                <li><a href="clients.html" class="animate_underline" style="z-index: 2">Clients</a></li>
                                <li><a href="work.html" class="animate_underline" style="z-index: 2">Work</a></li>
                                <li><a href="about.html" class="animate_underline" style="z-index: 2">About</a></li>
                            </ul>
                        </div>
                        <div class="external_links">
                            <ul>
                                <li><a href="https://www.facebook.com/" class="animate_underline" style="z-index: 2"
                                target="_blank">Facebook</a></li>
                                <li><a href="https://www.pinterest.nz/" class="animate_underline" style="z-index: 2"
                                target="_blank">Pinterest</a></li>
                                <li><a href="https://www.instagram.com/" class="animate_underline" style="z-index: 2"
                                target="_blank">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- end footer_content -->
        </div> <!-- end footer_wrapper -->
    </footer>
