
    <script>AOS.init();</script>

    <%- include('partials/navpartial.ejs') %>    

    <div class="work_header">        
    </div><!-- end work_header -->

    <div class="work_title main_content">        
        <h1>Dig!</h1>
    </div>

    <!-- <div class="work_projects"> -->
        <div class="hover_images main_content">
            <div class="hover_left">
                <div class="hover_box">
                    <div class="video_1" data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">
                        <video class="clip" muted loop>
                            <source src="videos/hovervideo1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>

                </div>
                <br>
                <h3>Swaying Red Poppies</h3>

                <div class="hover_box">
                    <div class="video_2" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900">
                        <video class="clip" muted loop>
                            <source src="videos/hovervideo1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <div class="hover_box">
                    <div class="video_1">
                        <video class="clip" muted loop>
                            <source src="videos/hovervideo1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <h3>Swaying Red Poppies</h3>
                </div>

                <div class="hover_box">
                    <div class="video_2">
                        <video class="clip" muted loop>
                            <source src="videos/hovervideo1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div> <!-- end hover left -->

            <div class="hover_right">
                <div class="hover_box">
                    <div class="video_2" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900">
                        <video class="clip" muted loop>
                            <source src="videos/hovervideo1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <div class="hover_box">
                    <div class="video_1">
                        <video class="clip" muted loop>
                            <source src="videos/hovervideo1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <h3>Swaying Red Poppies</h3>
                </div>

                <div class="hover_box">
                    <div class="video_2">
                        <video class="clip" muted loop>
                            <source src="videos/hovervideo1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <div class="hover_box">
                    <div class="video_1">
                        <video class="clip" muted loop>
                            <source src="videos/hovervideo1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                        </video>
                    </div>

                </div>
                <h3>Swaying Red Poppies</h3>
            </div>
        </div><!-- end hover_images -->

        <script> pausePlay();</script>
    <!-- </div>end projects -->

    <div class="work_video main_content">
        <video width="100%" height="100%" autoplay muted loop>
            <source src="videos/index_splash.mp4" type="video/mp4">
            <!-- <source src="movie.ogg" type="video/ogg"> -->
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="logos_wrapper">
        <div class="work_logos main_content">            
            <div class="all_clients">
                <div class="each_client"><img src="img/brand1.png"/></div>
                <div class="each_client"><img src="img/brand1.png"/></div>
                <div class="each_client"><img src="img/brand1.png"/></div>
                <div class="each_client"><img src="img/brand1.png"/></div>
                <div class="each_client"><img src="img/brand1.png"/></div>
                <div class="each_client"><img src="img/brand1.png"/></div>
                <div class="each_client"><img src="img/brand1.png"/></div>
                <div class="each_client"><img src="img/brand1.png"/></div>             
            </div>
        </div>
    </div>

    <%- include('partials/footerpartial.ejs') %>