
    <script>AOS.init();</script>

    <%- include('partials/navpartial.ejs') %>    

    <div class="work_header">        
    </div><!-- end work_header -->

    <div class="work_title main_content">        
        <h2>Dig!</h2>
    </div>

    <%- include('partials/hoverpartial.ejs') %>

    <div class="work_video main_content">
        <video width="100%" height="100%" autoplay muted loop>
            <source src="videos/index_splash.mp4" type="video/mp4">
            <!-- <source src="movie.ogg" type="video/ogg"> -->
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="logos_wrapper">
        <div class="work_logos main_content">
            <h2>Brands</h2>           
            <div class="all_clients">
                <div class="each_client"><img src="img/brand1.png"/></div>
                <div class="each_client"><img src="img/brand9.png"/></div>
                <div class="each_client"><img src="img/brand3.png"/></div>
                <div class="each_client"><img src="img/brand10.png"/></div>
                <div class="each_client"><img src="img/brand5.png"/></div>
                <div class="each_client"><img src="img/brand6.png"/></div>
                <div class="each_client"><img src="img/brand7.jpg"/></div>
                <div class="each_client"><img src="img/brand8.png"/></div>             
            </div>
        </div>
    </div>

    <%- include('partials/footerpartial.ejs') %>